<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mob.app.dev.twittersearch"
        versionCode = "1" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->
    <platform name="ios"></platform>
    
    <name>Twitter Search</name>

    <description>
        Ann app that searches using Twitter
    </description>

    <author href="http://www.worcester.ac.uk/discover/chris-bowers.html" email="c.bowers@worc.ac.uk">
        Chris P. Bowers
    </author>
	
	<!-- add plugins required for OAuth.io here-->
	
	<!-- give access to all domains in the outside world -->
    <plugin name="cordova-plugin-whitelist"/>
	<access origin="*" />
    <plugin spec="https://github.com/oauth-io/oauth-phonegap.git" />

</widget>